# phpstorm project files
.idea

/web/upload/images/restaurant/*.png
/web/upload/images/restaurant/*.jpeg
/web/upload/images/restaurant/*.jpg

/web/upload/images/user-custom/*.png
/web/upload/images/user-custom/*.jpeg
/web/upload/images/user-custom/*.jpg

/web/upload/images/cat-menu/*.png
/web/upload/images/cat-menu/*.jpeg
/web/upload/images/cat-menu/*.jpg

/web/upload/images/cat-menu-item/*.png
/web/upload/images/cat-menu-item/*.jpeg
/web/upload/images/cat-menu-item/*.jpg

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant